---
name: Generate documentation

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  docs:
    runs-on: ubuntu-latest
    name: pandoc to vimdoc
    steps:
      - uses: actions/checkout@v4
      - uses: kdheepak/panvimdoc@main
        with:
          vimdoc: hawtkeys
          version: "NVIM >=0.9"
          toc: true
          description: "For NVIM >=0.9"
          demojify: true
          treesitter: true
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(docs): autogenerate vimdoc"
          branch: ${{ github.head_ref }}
